---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About Me";

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro"];
---

<BaseLayout pageTitle={pageTitle}>
  <p>I am Chafilin. And I am the frontend developer.</p>

  <p>My skills are:</p>
  <ul>
    {skills.map((skill) => <li>{skill}</li>)}
  </ul>
</BaseLayout>
